.article-card-wrap{
  .cart-main{
    .author-info{
      padding: 20px;
      display: flex;
      .author{
        line-height: 24px;
        color: #5A5A5A;
        margin-left: 20px;
        font-size: 24px;
        font-weight: 700;
      }
    }
    .article-img-wrap{
      max-height: 400px;
      .article-img{
        display: block;
        height: 140px;
        background-size: cover;
        background-position: center;
      }
    }
    .article-info{
      padding: 0 20px;
      .title{
        margin: 20px 0;
        a{
          font-size: 20px;
          font-weight: 700;
          color: #5A5A5A;
          text-decoration: none;
        }
      }
      .text{
        color: #9a9a9a;
        margin-bottom: 10px;
        line-height: 20px;
        height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .cart-footer{
      margin: 20px;
      text-align: right;
      font-size: 20px;
      .text{
        color: #9a9a9a;
        font-size: 10px;
      }
      .icon{
        color: #9a9a9a;
        margin-right: 10px;
      }
    }
  }
}
