
.animation-circle {
   animation:circle 3s infinite linear;
}
@keyframes circle{
  0%{ transform:rotate(0deg) scale3d(1, 1, 1); }
  30%{ transform:rotate(180deg) scale3d(1.4, 1.4, 1.4); }
  100%{ transform:rotate(360deg) scale3d(1, 1, 1); }
}
