@import '../../../../statics/style/stylus/mixins/resources.styl'

.header-wrap{
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content center;
  background-color: #333;
  .img-bg{

  }
  .icon-bg{
    font-size: 44px;
    color: #fff;
  }
}
