.edit-mask-wrap{
  .edits{
    display: flex;
    justify-content: center;
    padding-top: 50%;
    .edit-item{
      margin: 0 20px;
      width: 65px;
      height: 65px;
      color: #333;
      border-radius: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      i{
        font-size: 40px;
      }
    }8
  }
}
