.web-list-wrap{
  
  .setting-list{
    border-top: 8px solid rgb(246, 246, 246);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    .set-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #bbb;
      padding: 20px 0;
      border-bottom: 1px solid #e2e2e2;
      i{
        font-size: 20px;
      }
      &.logout{
        display: block;
        border: none;
        text-align: center;
        // color: #333;
      }
    }
  }
}
