.depart-date {
    font-size: 40px;
    line-height: 90px;
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    color: #333;
}

.depart-week {
    color: #888;
    font-size: 30px;
}
