.category-wrap{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  flex-direction: row;
  justify-content: start;
  .category-item{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 25%;
    text-align: center;
    .text{
      margin-top: 10px;
    }
  }
}
