.fui-icon{
  display: inline-block;
  overflow: hidden;
  &.icon-default {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  &.icon-small {
    width: 24px;
    height: 24px;
    line-height: 24px;}
  &.icon-large {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .icon-img{
    width: 100%;
    height: 100%;
  }
  .default-icon-text{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #4393f4;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
}
