.my-wrap{
  .my-info{
    height: 120px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    .user-info{
      padding: 20px;
    }
    .user-intro{
      flex: 1 1 auto;
      padding: 20px;
      color: #bbb;
      .intro-item{
        margin-bottom: 12px;
      }
      .name{
        font-size: 34px;
        font-weight: 700;
        color: #333;
      }
    }
    .icon-gengduo{
      color: #bbb;
      flex: 0 1 auto;
      font-size: 18px;
    }
  }
  .setting-list{
    border-top: 8px solid rgb(246, 246, 246);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    .set-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #bbb;
      padding: 20px 0;
      border-bottom: 1px solid #e2e2e2;
      i{
        font-size: 20px;
      }
      &.logout{
        display: block;
        border: none;
        text-align: center;
        // color: #333;
      }
    }
  }
}
