
$theme-blue= #4393f4

.fui-navbar{
  display: flex;
  align-items: center;
  height: 45px;
  background-color: $theme-blue;
  color: #fff;

  &-left,
  &-title,
  &-right{

  }
  &-left{
    padding: 5px;
      &-icon {
        .icon{
          font-size: 24px;
        }
      }
  }
    &-title{}
    &-right{}
    &-light{}
    &-light &-title{
    }

}
